@import 'tailwindcss';
@config "../../tailwind.config.ts";
@theme {
  --font-*: initial;
  --font-sans-serif: Noto Sans CJK TC, Noto Sans TC, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --text-xs--line-height: calc(1 / 0.75);
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base--line-height: calc(1.5 / 1);
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl--line-height: calc(3 / 2.25);
  --text-6xl--line-height: calc(3 / 2.25);
  --text-7xl--line-height: calc(3 / 2.25);
  --text-8xl--line-height: calc(3 / 2.25);
  --text-9xl--line-height: calc(3 / 2.25);

  --color-primary-50: #f0f2f2;
  --color-primary-100: #e1e4e6;
  --color-primary-200: #c4c9cc;
  --color-primary-300: #a6aeb3;
  --color-primary-400: #899399;
  --color-primary-500: #6b7880;
  --color-primary-600: #566066;
  --color-primary-700: #40484d;
  --color-primary-800: #2b3033;
  --color-primary-900: #15181a;

  --color-accent: rgb(var(--accent-color));
}

@utility container {
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1472px) {
    max-width: 1472px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --primary-color-50: 248 250 251;
    --primary-color-100: 235 239 251;
    --primary-color-200: 214 214 247;
    --primary-color-300: 180 178 236;
    --primary-color-400: 151 137 222;
    --primary-color-500: 126 101 210;
    --primary-color-600: 103 73 190;
    --primary-color-700: 78 54 155;
    --primary-color-800: 54 38 110;
    --primary-color-900: 34 24 75;
    --primary-color-1000: 13 10 40;
    --accent-color: 255 168 8;
    --accent-color-hex: #ffa808;
    --navbar-height: 10rem;

    --z-index-work-ribbon: calc(var(--z-index-work-thumbnail) * var(--z-index-gap));
    --z-index-work-thumbnail: calc(var(--z-index-base) * var(--z-index-gap));
    /* --- Above 0 z-index --- */
    --z-index-base: 1;
    --z-index-gap: 10;
    /* --- Below 0 z-index --- */
  }

  .highlight {
    @apply relative;
  }

  .highlight::after {
    @apply absolute bottom-1 left-0 block w-full md:h-2 h-0.5 opacity-60 bg-accent transition-all rounded-sm  -z-10;
    content: '';
    background-image: url('/assets/global/highlight-texture.webp');
    background-size: 400px;
    background-repeat: repeat;
    animation: resize 3s infinite;
    animation-timing-function: steps(12, start);
  }

  .highlight:hover::after {
    @apply -skew-x-3;
    height: 80%;
  }

  @keyframes resize {
    0% {
      background-position: top left;
    }
    100% {
      background-position: bottom right;
    }
  }
}
