---
import Base from '@/layouts/Base.astro';
---

<Base title="找不到該頁面">
  <main class="text-center min-h-screen flex items-center justify-center flex-col">
    <h1 class="text-8xl font-black">404</h1>
    <p class="text-lg mb-8">Page not found</p>
    <a class="underline" href="/">Go Home</a>
  </main>
</Base>
