---
import Base from '@/layouts/Base.astro';
import Banner from '@/components/Banner.astro';
import { useTranslations, type LanguageKey } from '@/i18n/i18n.ts';
import { getCollection, render } from 'astro:content';


const currentLocale = Astro.currentLocale as LanguageKey;
const t = useTranslations(currentLocale as LanguageKey);

const faqs = await getCollection('faq');
const localeRelatedFaqs = faqs.filter(faq => faq.id.includes(currentLocale));
---

<Base title={t('Navbar-4')}>
  <main class="md:min-h-screen min-h-auto">
    <Banner>
      <h1 class="text-3xl md:text-6xl font-semibold px-4">
        { t('Navbar-4') }
      </h1>
    </Banner>

      <section class="mb-16 container mx-auto">
        <h2 class="sr-only">{t('NewestWork-1')}</h2>
        <div class="flex flex-col mx-4">
          
        {
          localeRelatedFaqs.map(async (faq) => {
            const { Content: FaqContent } = await render(faq)
            return (
            <details>
              <summary class="hover:bg-primary-50 px-4 -mx-4 border-t-2 border-primary-100 py-4 cursor-pointer text-xl font-medium">{faq.data.title}</summary>
              <div style="max-width: 70ch" class="mb-4 text-lg">
                <FaqContent/>
              </div>
            </details>
          )
          })
        }
        </div>
    </section>
  </main>
</Base>