---
import Base from '@/layouts/Base.astro';
import Banner from '@/components/Banner.astro';

import { localeParams, useTranslations, type LanguageKey } from '@/i18n/i18n.ts';

export async function getStaticPaths() {
  return localeParams;
};

const t = useTranslations(Astro.currentLocale as LanguageKey);

const skills = [
  {
    type: t('Skill-1'),
    name: ['HTML', 'CSS', 'Sass', 'JavaScript', 'TypeScript'],
  },
  {
    type: t('Skill-2'),
    name: [
      'Vite',
      'ESLint(Airbnb)',
      'Prettier',
      'Astro.js',
      'Tailwind',
      'Bootstrap 5',
      'jQuery',
      'Alpine.js',
      'Vue',
      'Vue Router',
      'React',
      'React Router',
      'Framer Motion',
      'GSAP',
      'Git',
    ],
  },
  {
    type: t('Skill-3'),
    name: ['Photoshop', 'Illustrator', 'Figma'],
  },
  {
    type: t('Skill-4'),
    name: [t('Skill-5'), t('Skill-6'), t('Skill-7'), t('Skill-8'), t('Skill-9')],
  },
];
---

<Base title={t('Navbar-2')}>
  <div class="p-4 md:p-16">
    <main class="min-h-screen">
      <Banner>
        <h1 class="text-3xl md:text-5xl font-medium mb-16">
          {t('About-1', {year: '2019'})}
          <a class="highlight" href="https://hiskio.com/" target="_blank">HiSKIO</a>
          {t('About-2')}
          <span class="highlight">
            {t('About-3', {years: `${new Date().getFullYear() - 2019}`})}
          </span>
        </h1>

        <div class="text-lg max-w-prose mb-16">
          <p>
            {t('About-4')}
            <a class="underline" href="https://www.webdong.dev/">{t('About-5')}</a> 
            {t('About-6')}
          </p>
        </div>  
      </Banner>

      <section class="container mx-auto">
        <div class="flex justify-between items-center  mb-8">
          <h2 class="text-3xl md:text-5xl font-medium">{t('About-7')}</h2>
          <a href="https://www.cakeresume.com/weiweiweb" class="border rounded-full transition-colors md:p-8 p-4 flex flex-wrap justify-center items-center gap-4 hover:bg-primary-800 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="48" viewBox="0 -960 960 960" width="48"><path d="M319-250h322v-60H319v60Zm0-170h322v-60H319v60ZM220-80q-24 0-42-18t-18-42v-680q0-24 18-42t42-18h361l219 219v521q0 24-18 42t-42 18H220Zm331-554v-186H220v680h520v-494H551ZM220-820v186-186 680-680Z"/></svg>
            <span class="md:text-2xl text-md font-medium">{t('About-8')}</span>
          </a>
        </div>

        <p class="text-lg max-w-prose mb-8">
          {t('About-9')}
        </p>

        <div class="flex gap-16 flex-wrap">
          {
            skills.map((skill) => (
              <div class="md:text-left text-right flex md:max-w-[300px] max-w-none w-full justify-between border-t-2 border-current pt-4 text-lg">
                <h3 class="font-medium">{skill.type}</h3>
                <ul>
                  {skill.name.map((name) => (
                    <li>{name}</li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </section>
    </main>
  </div>
</Base>
