---
import Base from '@/layouts/Base.astro';
import Banner from '@/components/Banner.astro';
import Accorditions from '@/components/Accorditions.astro'
import { languages, useTranslations, type LanguageKey } from '@/i18n/i18n.ts';
import { getCollection, render } from 'astro:content';


const currentLocale = Astro.currentLocale as LanguageKey;
const t = useTranslations(currentLocale as LanguageKey);

const faqs = await getCollection('faq');
const localeRelatedFaqs = faqs.filter(faq => faq.id.startsWith(currentLocale));

export function getStaticPaths() {
  return Object.keys(languages).map((language) => ({
    params: { language },
  }));
}
---

<Base title={t('Navbar-4')}>
  <main class="md:min-h-screen min-h-auto">
    <Banner>
      <h1 class="text-3xl md:text-6xl font-semibold px-4">
        { t('Navbar-4') }
      </h1>
    </Banner>

      <section class="mb-16 container mx-auto">
        <h2 class="sr-only">{t('NewestWork-1')}</h2>
        <div class="flex flex-col mx-4">
          
        {
          localeRelatedFaqs.map(async (faq) => {
            const { Content: FaqContent } = await render(faq)
            return (
            <Accorditions title={faq.data.title}>
              <FaqContent/>
            </Accorditions>
          )
          })
        }
        </div>
    </section>
  </main>
</Base>